.mySwiper {
  width: 850px;
  margin-top: 35px;
  padding: 15px 35px;
  border: 1px solid #000;
}
.comment {
  padding: 15px 35px;
}
.comment-title {
  font-size: 20px;
}
.comment-email {
  font-size: 18px;
}
.comment-body {
  font-size: 16px;
}
