.profile-container {
  width: 100%;
  height: calc(100vh - 105px);
  /* height: 100%; */
  margin-top: 35px;
  display: grid;
  grid-template-columns: 60px repeat(5, 1fr) 60px;
  grid-template-rows: 70px 55px 25px 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-sizing: border-box;
}

.empty-space {
  grid-area: 3 / 1 / 4 / 8;
}
